<h1>Edit Restaurant</h1>
<%= render "form" %>
<%= link_to "Cancel", restaurant_path(@restaurant), class: "btn btn-secondary mt-3" %>
<%= link_to "Back to list", restaurants_path, class: "btn btn-outline-secondary mt-3" %>
