<h1>Add a new restaurant</h1>
<%= render "form" %>
<%= link_to "Cancel", restaurants_path, class: "btn btn-secondary mt-3" %>
<%= link_to "Back to list", restaurants_path, class: "btn btn-secondary mt-3" %>
